.grid{
    width: 100%;
    border: 5px solid rgb(243, 247, 19);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 250px 250px 250px; /////250px is height, doesnt fully utilize all space, but fr utilizes all space//// */
    grid-template-rows: 250px 250px;
    grid-column-gap:10px;
    grid-row-gap: 10px;

}

.box1{
    background-color: rgb(192, 214, 214);
}

.box2{
    background-color: rgb(230, 186, 91);
}

.box3{
    background-color: rgb(155, 223, 146);
}

.box4{
    background-color: rgb(214, 223, 100);
}

.box5{
    background-color: rgb(226, 154, 133);
}

.box6{
    background-color: rgb(131, 224, 204);
}