h1{
    color: salmon;
    background-color: aquamarine;
    border-radius: 10%;
    border-color: antiquewhite;
    text-align: center;
}

#p1{
    background-color: rgb(236, 186, 213);
    color-interpolation-filters: linearRGB;
    font-size: 20px;
    font-style: italic;

}

#p2{
    background-color: rgb(158, 235, 215);
    color-interpolation-filters: linearRGB;
    font-size: 20px;
    font-style: italic;

}

#p3{
    background-color: rgb(228, 238, 141);
    color-interpolation-filters: linearRGB;
    font-size: 20px;
    font-style: italic;

}

#p4{
    background-color: rgb(243, 193, 147);
    color-interpolation-filters: linearRGB;
    font-size: 20px;
    font-style: italic;

}

img{

    width: 400px;
    height: 400px;


}